@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    font-family: 'Roboto', sans-serif;
    font-family: 'Rubik',sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}
body{
    background-color: #e5c093;
}

html{
    font-size: 54.5%;
}
section{
    padding: 2rem 9%;
}

.header{
    position: fixed;
    top: 0; left: 0; right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 9%;
    z-index: 2;
    background: rgb(103, 103, 35)
    
}

.header .logo img{
    height: 100px;
    width: 160px;

}


.header .navbar #close{
    display: none;
}

.header .navbar a{
    font-size: 2rem;
    margin-right: 2rem;
    color: #fff;

}

.header .navbar:hover{
    color: #d3ad7f;
}

.header #menu{
    display: none;
}
.home{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    background: rgb(243, 217, 205);

}

.home .content{
    flex: 1 1 48rem;
}
.home .content .title{
    font-size: 6rem;
    color: black;
    text-transform: uppercase;
}
.home .content .title span{
    text-transform: uppercase;
    color:rgb(76, 92, 44);
}

.home .content .description{
    font-size: 2rem;
    font-weight: lighter;
    line-height: 1.0;
    padding: 1rem 0;
    color:black;

}

.home .content .btn{
    margin-top: 1rem;
    display: inline-block;
    padding: .9rem 3rem;
    font-size: 1.7rem;
    color: white;
    background: #d3ad7f;
    cursor: pointer;
}
.home .content .btn:hover{
    letter-spacing: .2rem;
}

.home .image{
    flex: 1 1 40rem;
}
.header:hover{
    background-color:rgb(99, 131, 37);
}


.home .image img{
    width: 80%;
    height: 60vh;
    margin-top: 10px;
    margin-left: 200px;
}
footer{
    width: 100%;
    text-align: center;
    padding: 15px;
    margin-top: auto;
    bottom: 0;
    position: fixed;
    font-size: 20px;
}
.navbar .nav-item:hover{
    font-size: 22px;
    color: #000000;
    
}
.title{
    color: rgb(255, 255, 255);
    font-weight: 900;
    font-size: 40px;
    font-style: italic;
    cursor: pointer;
    
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    
    
}
.title:hover{
    color: #000000;
}
.lastpage h1{
    font-size: 40px;
    font-weight: bolder;
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 10px;

}
.lastpage div{
    font-weight: bolder;
    font-size: 20px;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-bottom: 40px;
}

@media (max-width:1200px) {
    

    .home .image img{
        width: 220px;
        height: 220px;
        margin-top: 10px;
        margin-left: 200px;
        margin-right: 100px;
    }
    .title{
        color: rgb(255, 255, 255);
        font-weight: 900;
        font-size: 15px;
        font-style: italic;
        cursor: pointer;
        margin-left: 20px;
        
    }
    .logo{
        display: block;
        margin-top: 0;
    margin-bottom: 0;
    margin-right: 10px;
        
        
    }
    
}